ideas/Screen Shot 2022-10-02 at 8.00.42 PM.png
ideas1/68747470733a2f2f692e696d6775722e636f6d2f707056747a33322e706e67.png
ideas1/BMR Calculator by Matt Wolford on Dribbble.webloc
ideas1/BMR Formula (Basal Metabolic Rate).webloc
ideas1/image_processing20200422-20127-k4i7z1.png
ideas1/Screen Shot 2022-10-01 at 7.08.40 PM.png
ideas1/Screen Shot 2022-10-02 at 8.00.42 PM.png
ideas1/Zenderable:bmr-calc- A simple application for calculating BMR (basal metabolic rate) and BMI (body mass index)..webloc
ideas1